srcout
logs
.idea
/srcout/
/srcout/
/srcout/artifacts/
/srcout/artifacts/Flauxy_jar/
/srcout/artifacts/Flauxy_jar/Flauxy.jar
/srcout/artifacts/Flauxy_jar/Flauxy.zip
/srcout/production/
/libs/1.8.8.jar
/libs/asm-all-5.2.jar
/libs/authlib-1.5.21.jar
/libs/codecjorbis-20101023.jar
/libs/codecwav-20101023.jar
/libs/commons-codec-1.9.jar
/libs/commons-compress-1.8.1.jar
/libs/commons-io-2.4.jar
/libs/commons-lang3-3.3.2.jar
/libs/commons-lang3-3.11.jar
/libs/commons-logging-1.1.3.jar
/libs/DiscordIPC-0.4.jar
/libs/newvia/downgraded-ViaBackwards-5.0.2-SNAPSHOT.jar
/libs/downgraded-ViaBackwards-5.0.2-SNAPSHOT.jar
/libs/newvia/downgraded-ViaRewind-4.0.1-SNAPSHOT.jar
/libs/downgraded-ViaRewind-4.0.1-SNAPSHOT.jar
/libs/newvia/downgraded-ViaVersion-5.0.2-SNAPSHOT.jar
/libs/downgraded-ViaVersion-5.0.2-SNAPSHOT.jar
/libs/gson-2.2.4.jar
/libs/guava-17.0.jar
/libs/httpclient-4.3.3.jar
/libs/httpcore-4.3.2.jar
/libs/ibxm-0.0.1.jar
/libs/icu4j-core-mojang-51.2.jar
/libs/javafx/javafx.base.jar
/libs/javafx/javafx.controls.jar
/libs/javafx/javafx.fxml.jar
/libs/javafx/javafx.graphics.jar
/libs/javafx/javafx.media.jar
/libs/javafx/javafx.properties
/libs/javafx/javafx.swing.jar
/libs/javafx/javafx.web.jar
/libs/javafx/javafx-swt.jar
/libs/javafx/jfxrt.jar
/libs/jinput-2.0.5.jar
/libs/jinput-platform-2.0.5-natives-windows.jar
/libs/jna-3.4.0.jar
/libs/jnlp.jar
/libs/jopt-simple-4.6.jar
/libs/json-20201115.jar
/libs/junixsocket-common-2.3.3-SNAPSHOT.jar
/libs/junixsocket-core-2.3.3-SNAPSHOT.jar
/libs/junixsocket-demo-2.3.3-SNAPSHOT.jar
/libs/junixsocket-mysql-2.3.3-SNAPSHOT.jar
/libs/junixsocket-native-common-2.3.3-SNAPSHOT.jar
/libs/junixsocket-native-custom-2.3.3-SNAPSHOT.jar
/libs/junixsocket-rmi-2.3.3-SNAPSHOT.jar
/libs/junixsocket-selftest-2.3.3-SNAPSHOT-jar-with-dependencies.jar
/libs/junixsocket-server-2.3.3-SNAPSHOT.jar
/libs/jutils-1.0.0.jar
/libs/libraryjavasound-20101123.jar
/libs/librarylwjglopenal-20100824.jar
/libs/log4j-1.2.17.jar
/libs/log4j-api-2.0-beta9.jar
/libs/log4j-core-2.0-beta9.jar
/libs/lombok.jar
/libs/lwjgl/lwjgl.jar
/libs/lwjgl-2.9.4-nightly-20150209.jar
/libs/lwjgl/lwjgl-assimp.jar
/libs/lwjgl/lwjgl-assimp-javadoc.jar
/libs/lwjgl/lwjgl-assimp-natives-windows.jar
/libs/lwjgl/lwjgl-assimp-sources.jar
/libs/lwjgl/lwjgl-glfw.jar
/libs/lwjgl/lwjgl-glfw-javadoc.jar
/libs/lwjgl/lwjgl-glfw-natives-windows.jar
/libs/lwjgl/lwjgl-glfw-sources.jar
/libs/lwjgl/lwjgl-javadoc.jar
/libs/lwjgl/lwjgl-natives-windows.jar
/libs/lwjgl/lwjgl-openal.jar
/libs/lwjgl/lwjgl-openal-javadoc.jar
/libs/lwjgl/lwjgl-openal-natives-windows.jar
/libs/lwjgl/lwjgl-openal-sources.jar
/libs/lwjgl/lwjgl-opengl.jar
/libs/lwjgl/lwjgl-opengl-javadoc.jar
/libs/lwjgl/lwjgl-opengl-natives-windows.jar
/libs/lwjgl/lwjgl-opengl-sources.jar
/libs/lwjgl-platform-2.9.4-nightly-20150209-natives-windows.jar
/libs/lwjgl/lwjgl-sources.jar
/libs/lwjgl/lwjgl-stb.jar
/libs/lwjgl/lwjgl-stb-javadoc.jar
/libs/lwjgl/lwjgl-stb-natives-windows.jar
/libs/lwjgl/lwjgl-stb-sources.jar
/libs/lwjgl_util-2.9.4-nightly-20150209.jar
/libs/netty-1.6.jar
/libs/netty-all-4.0.23.Final.jar
/libs/oshi-core-1.1.jar
/libs/platform-3.4.0.jar
/libs/realms-1.7.39.jar
/libs/slf4j-api-1.7.9.jar
/libs/slick.jar
/libs/newvia/snakeyaml-2.2.jar
/libs/snakeyaml-2.2.jar
/libs/soundsystem-20120107.jar
/libs/trove4j-2.1.0.jar
/libs/trove-3.0.0a5.jar
/libs/twitch-6.5.jar
/libs/twitch-external-platform-4.5-natives-windows-64.jar
/libs/twitch-platform-6.5-natives-windows-64.jar
/libs/vecmath.jar
